.ExerciseInputBox {
    position: relative;
    width: 300px;
    padding: 25px;
    border: 2px solid black;

}

.EditBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.RemoveBtn {
    position: absolute;
    top: 5px;
    left: 5px;
}

.CheckCircle {
    color: green;
    font-size: 15px;
}

.TimesCircle {
    color: red;
    font-size: 35px;
}